[Unit]
Description=NFD
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/nfd

[Install]
WantedBy=multi-user.target
